<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- Fontawesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" />

    <!-- General Style -->
    <link href="style.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script type="text/javascript">
        angular.module('cvApp', [])
            .controller('CvController', function () {
                let cv = this;

                const queryString = window.location.search;
                const parameters = new URLSearchParams(queryString);

                cv.language = parameters.get('lang') === 'en' ? "en-US" : 'pt-BR';

                cv.socialMedias = [
                    { cssClass: "linkedin", icon: "fa-brands fa-linkedin", url: "https://www.linkedin.com/in/allyson-paulino-0694a973/", permalink: "/allyson-paulino-0694a973" },
                    { cssClass: "github", icon: "fa-brands fa-github", url: "https://github.com/allysonp23", permalink: "/allysonp23" }
                ]

                cv.projects = {
                    title: { "pt-BR": "Projetos em destaque", "en-US": "Featured projects" },
                    data: [
                    ]
                },

                    cv.labels = {
                        showCredentials: {
                            "pt-BR": "Mostrar credencial",
                            "en-US": "Show credential"
                        },
                        by: {
                            "pt-BR": "por",
                            "en-US": "by"
                        },
                        about: {
                            "pt-BR": "Sobre",
                            "en-US": "About"
                        },
                        seeMore: {
                            "pt-BR": "Ver mais",
                            "en-US": "See more"
                        }
                    }

                cv.info = {
                    name: "Allyson Paulino da Silva",
                    title: { "pt-BR": "Desenvolvedor Web Full Stack", "en-US": "Full Stack Web Developer" },
                    address: { "pt-BR": "Teresina, Piauí", "en-US": "Teresina, Piauí, Brazil" },
                    email: "allyson.paulino@example.com",
                    phone: { "pt-BR": "(86) 99979-3976", "en-US": "+5586999793976" },
                    about: {
                        "pt-BR": "Atuando na área de desenvolvimento Web há 4 anos, focado no desenvolvimento full stack com Python (Django) e frontend com Angular, HTML, CSS e JavaScript. Atualmente cursando Engenharia de Computação na Estácio Ceut. Experiência profissional na Consultel e Volpi, com destaque para o desenvolvimento de dashboards e APIs.",
                        "en-US": "Working in Web development for 4 years, focused on full stack development with Python (Django) and frontend with Angular, HTML, CSS, and JavaScript. Currently studying Computer Engineering at Estácio Ceut. Professional experience at Consultel and Volpi, with a focus on developing dashboards and APIs."
                    }
                }

                cv.education = {
                    title: { "pt-BR": "Escolaridade", "en-US": "Education" },
                    data: [
                        {
                            name: { "pt-BR": "Estácio Ceut", "en-US": "Estácio Ceut" },
                            course: { "pt-BR": "Engenharia de Computação", "en-US": "Computer Engineering" },
                            locale: { "pt-BR": "Teresina, Piauí", "en-US": "Teresina, Piauí, Brazil" },
                            period: { "pt-BR": "Jan 2022 — Dez 2026 (em andamento)", "en-US": "Jan 2022 — Dec 2026 (ongoing)" },
                            description: {
                                "pt-BR": "O curso de Engenharia de Computação da Estácio Ceut oferece uma formação sólida em desenvolvimento de software, sistemas embarcados e automação, capacitando os alunos a atuarem em diversas áreas da tecnologia.",
                                "en-US": "The Computer Engineering course at Estácio Ceut provides solid training in software development, embedded systems, and automation, preparing students to work in various technology fields."
                            }
                        }
                    ]
                },

                    cv.certificates = {
                        title: {
                            "pt-BR": "Certificados",
                            "en-US": "Certificates"
                        },
                        data: [
                        ]
                    },

                    cv.expirences = {
                        title: { "pt-BR": "Experiências", "en-US": "Experiences" },
                        data: [
                            {
                                company: "Volpi",
                                title: { "pt-BR": "Desenvolvedor Web Full Stack", "en-US": "Full Stack Web Developer" },
                                locale: { "pt-BR": "Teresina, Piauí", "en-US": "Teresina, Piauí, Brazil" },
                                period: { "pt-BR": "Mai 2023 - Atual", "en-US": "May 2023 - Present" },
                                skills: ["Python", "Django", "Flask", "CI/CD", "Render"],
                                description: {
                                    "pt-BR": "Trabalhando no desenvolvimento web com foco em Python (Django) e na criação de pipelines de CI/CD no Render. Recentemente focado na criação de API Rest em Flask para democratização de informações.",
                                    "en-US": "Working on web development focused on Python (Django) and implementing CI/CD pipelines on Render. Recently focused on creating Rest API in Flask to democratize information."
                                }
                            },
                            {
                                company: "Consultel",
                                title: { "pt-BR": "Desenvolvedor Full Stack", "en-US": "Full Stack Developer" },
                                locale: { "pt-BR": "Teresina, Piauí", "en-US": "Teresina, Piauí, Brazil" },
                                period: { "pt-BR": "Jul 2020 - Jan 2023", "en-US": "Jul 2020 - Jan 2023" },
                                skills: ["Python", "Django", "Angular", "HTML", "CSS", "JavaScript"],
                                description: {
                                    "pt-BR": "Desenvolvimento de um dashboard de análise econômica utilizando Python (Django) no backend e Angular no frontend, focado em otimização e estudo de viabilidade econômica.",
                                    "en-US": "Development of an economic analysis dashboard using Python (Django) for the backend and Angular for the frontend, focused on optimization and economic feasibility study."
                                }
                            }
                        ]
                    };
            });
    </script>
    <title>CV</title>
</head>

<body ng-app="cvApp" ng-controller="CvController as cv">
    <header class="text-center pt-2">
        <h1 class="fw-bold">{{ cv.info.name }} </h1>
        <h6 class="text-muted">{{ cv.info.title[cv.language] }}</h6>

        <ul class="w-100 pt-4">
            <li class="d-inline-block">
                <i class="fa-solid fa-location-dot"></i> {{ cv.info.address[cv.language] }}
            </li>
            <li class="d-inline-block ms-3">
                <i class="fa-solid fa-envelope"></i> <a href="mailto:{{ cv.info.email }}">{{ cv.info.email }}</a>
            </li>
            <li class="d-inline-block ms-3">
                <i class="fa-solid fa-mobile"></i> {{ cv.info.phone[cv.language] }}
            </li>
        </ul>

        <ul class="w-100 pt-2">
            <li class="d-inline-block social-media {{ socialMedia.cssClass }}"
                ng-repeat="socialMedia in cv.socialMedias">
                <i class="fs-4 {{ socialMedia.icon }}"></i> <a href="{{ socialMedia.url }}"></i>{{ socialMedia.permalink
                    }}</a>
            </li>
        </ul>
    </header>

    <hr class="w-100 my-5">

    <section class="expirences">
        <div class="row">
            <div class="col-sm-12 fw-bold pb-3 fs-5">{{ cv.labels.about[cv.language] }}</div>
            <div class="col-sm-12 about">{{ cv.info.about[cv.language] }}</div>
        </div>
    </section>

    <hr class="w-100 my-5">

    <section class="expirences">
        <div class="row">
            <div class="col-sm-12 fw-bold pb-3 fs-5">{{ cv.expirences.title[cv.language] }}</div>
            <div class="col-sm-12">

                <div ng-repeat="expirence in cv.expirences.data" class="mb-5">
                    <div class="d-flex justify-content-between">
                        <div><strong>{{ expirence.company }}</strong> — {{ expirence.title[cv.language] }}</div>
                        <div><i class="fa-solid fa-location-dot"></i> {{ expirence.locale[cv.language] }}</div>
                        <div><i class="fa-solid fa-calendar-week"></i> {{ expirence.period[cv.language] }}</div>
                    </div>
                    <ul class="skils">
                        <li ng-repeat="skill in expirence.skils">{{ skill }}</li>
                    </ul>
                    <p class="pb-3">{{ expirence.description[cv.language] }}</p>
                </div>
            </div>
        </div>

        <hr class="w-100 mb-5">

        <div class="row">
            <div class="col-sm-12 fw-bold pb-3 fs-5">{{ cv.education.title[cv.language] }}</div>
            <div class="col-sm-12">

                <div ng-repeat="school in cv.education.data" class="mb-5">
                    <div class="d-flex justify-content-between">
                        <div><strong>{{ school.course[cv.language] }}</strong> — {{ school.name[cv.language] }}</div>
                        <div><i class="fa-solid fa-location-dot"></i> {{ school.locale[cv.language] }}</div>
                        <div><i class="fa-solid fa-calendar-week"></i> {{ school.period[cv.language] }}</div>
                    </div>
                    <p class="pt-3">{{ school.description[cv.language] }}</p>
                </div>
            </div>
        </div>

        

        <div class="row" ng-if="cv.certificates.data && cv.certificates.data.length > 0">
            <hr class="w-100 mb-5">
            <div class="col-sm-12 fw-bold pb-4 fs-5">{{ cv.certificates.title[cv.language] }}</div>
            <div class="col-sm-12">

                <div ng-repeat="certificate in cv.certificates.data" class="mb-4">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <div class="pe-2">
                                <img width="45px" height="45px" src="{{ certificate.issuerLogo }}" />
                            </div>
                            <div>
                                <div class="fw-bold">{{ certificate.name[cv.language] }}</div>
                                <div>{{ cv.labels.by[cv.language] }} {{ certificate.issuer[cv.language] }}</div>
                            </div>
                        </div>
                        <div class="text-end pb-2">
                            <i class="fa-solid fa-calendar-week"></i> {{ certificate.period[cv.language] }} <br />
                            <a class="nounderline text-muted fs-6" href="{{ certificate.link }}" target="_blank">{{
                                cv.labels.showCredentials[cv.language] }} <i class="fa-solid fa-external-link"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div ng-if="cv.projects.data.length > 0">
            <hr class="w-100 mb-5" />

            <div class="row">
                <div class="col-sm-12 fw-bold pb-4 fs-5">{{ cv.projects.title[cv.language] }}</div>
                <div class="col-sm-12">

                    <div ng-repeat="project in cv.projects.data" class="mb-4">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <div>
                                    <div class="fw-bold">{{ project.title[cv.language] }}</div>
                                    <div>{{ project.description[cv.language] }}</div>
                                </div>
                            </div>
                            <div class="text-end pb-2">
                                <a class="nounderline text-muted fs-6" href="{{ project.link }}" target="_blank">{{
                                    cv.labels.seeMore[cv.language] }} <i class="fa-solid fa-external-link"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
